@font-face {
    font-family: 'Mistral';
    src: url('fonts/Mistral-Regular.ttf') format('truetype'); /* Убедитесь, что путь к шрифту указан верно */
}

body {
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/ea/b1/7a/eab17a6593c7d18f591e56b4b97337f7.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Центрирование всех элементов */
    font-family: 'Mistral', cursive; /* Применение шрифта к body */
}

#container {
    text-align: center;
}

#notebook-container {
    position: relative;
}

#closedNotebook {
    width: 300px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: darkgreen;
}

#openNotebook {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#openNotebook img {
    position: relative; /* Убедитесь, что это изображение находится на своем месте */
    z-index: 1; /* Задаем z-index, чтобы фон был под текстом */
}

.column {
    position: absolute; /* Текст будет накладываться на изображение */
    text-align: center;
    z-index: 2; /* Выше для наложения поверх изображения */
    font-size: 128px !important; /* Размер шрифта увеличен, измените по вашему усмотрению */
}

#column1 {
    top: 30%; /* Позиционируем колонку 1 */
    left: 20%; /* Координаты слева */
}

#column2 {
    top: 30%; /* Позиционируем колонку 2 */
    right: 20%; /* Координаты справа */
}

.class {
    font-size: 16px;
}

.strike-through {
    text-decoration: line-through;
}