@font-face {
    font-family: 'Mistral';
    src: url('fonts/Mistral-Regular.ttf') format('truetype');
}
body {
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/ea/b1/7a/eab17a6593c7d18f591e56b4b97337f7.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Mistral', sans-serif; /* Используем шрифт */
}
#container {
    text-align: center;
}
#notebook-container {
    position: relative;
    margin-bottom: 20px;
}
#closedNotebook {
    width: 300px; /* Фиксированная ширина для десктопов */
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Статический размер шрифта */
}
button:hover {
    background-color: darkgreen;
}
#openNotebook {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
#openNotebook img {
    position: relative; 
    width: 80%; /* Уменьшаем ширину до 80% */
    max-width: 400px; /* Максимальная ширина для больших экранов */
}
.column {
    position: absolute; 
    text-align: center;
    z-index: 2; 
    font-size: 32px; /* Статичный размер шрифта */
}
#column1 {
    top: 20%;                      
    left: 10%; /* Координаты слева */
}
#column2 {
    top: 20%; 
    right: 10%; /* Координаты справа */
}
.class {
    display: none; 
    opacity: 0; /* Появление с эффектом */
    transition: opacity 0.5s ease; 
}
.class[style*="display: block;"] {
    opacity: 1; 
}
.strike-through {
    text-decoration: line-through; 
}
#message {
    display: none; 
    font-size: 24px;
    color: black;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10; 
}
/* Медиазапросы для адаптации под мобильные устройства */
@media (max-width: 600px) {
    #closedNotebook {
        width: 70%; /* Меняем ширину тетради для мобильных */
    }
    #openNotebook img {
        width: 90%; /* Полная ширина для открытой тетради на мобильных */
    }
    button {
        padding: 8px 16px; /* Уменьшаем размер кнопок для мобильных */
        font-size: 14px; /* Меняем размер шрифта кнопок для мобильных */
    }
    .column {
        font-size: 24px; /* Уменьшаем размер шрифта для колонок на мобильных */
    }
    #message {
        font-size: 20px; /* Меняем размер сообщения на мобильных */
    }
}
